*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
    background: url(oldmap.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    height: 100%;
    min-width: 1280px;
}
a, a:hover, a:visited{
  color: white;
  border: .1em solid gray;
  margin-right: 10em;
  padding: 1.3em;
  display: inline;
}
#homePage{
  width: 100%;
  height: 35em;
  position: relative;
  padding: 8em 20em 8em 20em;
}
#homePage h1{
  color: black;
  text-align: center;
  font-size: 4em;
}
#homePage p{
  color: black;
  font-size: 2em;
  text-align: center;
}
#otherPages{
  width: 100%;
  min-height: 43em;
  position: relative;
  background: #2CB2FF;
;
  padding: 5em 10em 5em 10em;
}
#otherPages img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20%;
  height: 20%;
}
#otherPages h1{
  color: #16EE0F;
  text-align: center;
  font-family: verdana;
  font-weight: bold;
  font-size: 4em;
  border-bottom: .05em solid #019454;
  margin-bottom: 1em;
}
#otherPages h2{
  margin-top: 3em;
  color: #56EE4F;
  text-align: center;
  font-family: verdana;
  font-weight: bold;
  font-size: 2.5em;
}
#otherPages h3{
  margin: 3em 15em 0 15em;
  color: #56EE4F;
  text-align: center;
  font-family: verdana;
  font-weight: bold;
  font-size: 1.5em;
}
#otherPages p:nth-of-type(1){
   border-top: .2em solid #00C0A6 ; 
}
#otherPages p{
  display: block;
  color: #8BFA87;
  padding-top: 3em;
  font-family: Palatino;
  font-size: 1.5em;
  margin: 0 10em 0 10em;
  text-align: center;
}
#otherPages .contactUs{
  border-top: none;
  text-align: left;
}
#otherPages .form{
  margin: .2em 0em .2em 10em;
}
#otherPages button{
  margin: 3em 42% 0 42%;
  border-radius: 1em;
  border: none;
  float: none;
  background-color: #56EE4F;
  width: 16%;
  height: 5em;
}
#NHDSquad{
  border-top: .2em solid #00C0A6 ;
  width:100%;
}
#NHDSquad td img{
  width: 21em;
  height: 21em;
  margin: 1em auto 0 auto;
}
#NHDSquad th{
  width: 50%;
  padding-left: 8em;
  padding-right: 8em;
  color: #8BFA87;
  font-family: Palatino;
  font-weight: bold;
}
#NHDSquad #aidenDesc{
  padding: 1em 25em 3em 25em;
  font-size: 1.2em;
}
#NHDSquad .name{
  color: #56EE4F;
  padding-top: 1em;
  font-size: 2em;
}
#NHDSquad .title{
  padding-top: .2em;
  font-size: 1.5em;
}
#NHDSquad .description{
  padding-top: 1em;
  padding-bottom: 3em;
  font-size: 1.2em;
}

#header{
  background-image: url(topBar.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 2em;
  position: relative;
  width: 100%;
}
#Top{	
  background-image: url(topBar.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-bottom: .2em solid black;
  width: 100%;
  height: 10em;
}
#Top *{
    position: relative;
    display: inline;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}
#logo{
  width: 12%;
  height: 100%;
}
#Top .dropdown{
  top: -5em;
  margin: 3%;
  background-color: white;
  width: 10%;
  height: 45%;
}
#Top button{
  top: -5em;
  margin: 3%;
  background-color: white;
  width: 10%;
  height: 45%;
}
#timeline .whole, #timeline .half, #timeline .third {
  margin: 0px auto;
  overflow: hidden;
  height: auto;
  position: relative;
  display: inline-block;
  padding: 0px;
  list-style-type: none;
}
.overlay{
  background: rgba(255,255,255,.5);
}
.datepadding{
  position: relative;
  width: 50%;
  border-radius: 5px;
  display: block;
  background-color: rgba(0,0,0,.5);
  overflow: hidden;
  float: left;
  clear: left;
}
.datepadding:nth-of-type(4n){
    float: right;
}
.event{
  position: relative;
  text-align: left;
  float: left;
  clear: left;
  width: 47%;
  margin-top: 1em;
  border-radius: 5px;
  display: block;
  background-color: rgba(0,0,0,.3);
  z-index: 15;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: background .15s linear;
  -moz-transition: background .15s linear;
  -ms-transition: background .15s linear;
  -o-transition: background .15s linear;
  transition: background .15s linear;
}
.event .Text{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  float: left;
  margin: 2%;
  margin-right: 0;
  width: 60%;
}
.event h1{
  background-color: rgba(0, 0, 0, 0);
  text-align: right;
}
.event:nth-of-type(4n+1) {
  float: right;
  clear: right;
}
.event:nth-of-type(4n) h1{
  text-align: left;
}
.event .name{
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
}
.event a, .event a:hover, .event a:visited{
  padding: 1em;
  background: black;
  border-radius: 1em;
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0  40% 0 40%;
  clear: both;
  color: white;
}
#footer{
  background-image: url(topBar.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 2em;
  position: relative;
  width: 100%;
  bottom: 0;
}
#footerSpace{
    margin-top: 3em;
}
#footer p{
  text-align: center;
  margin-left: 25em;
  margin-right: 25em;
  color: rgb(200,200,200);
}
