#timeline .whole{
  width: 95%;
  margin-left: 2.5%;
  list-style-type: none;
}
.whole .event {
  margin-bottom: 1.25%;
  padding: .5%;
  height: 25em;
}
.whole .event .Text{
  font-size: 14pt;
  width: 70%;
}
.whole .event img{
  margin: 0px 3em 3em 0px;
  max-width: 20%;
  max-height: 40%;
  float: right;
}
.whole .event:hover{
    overflow-y: scroll; 
}
.whole .event a{
  float: right;
  position: relative;
  text-align: center;
  margin-right: 5em;
}
.overlaywhole{
  width: 100%;
}