#timeline .third{
  margin: 0px auto;
  margin-right: 4%;
  width: 95%;
  background-size: 1em;
  margin-bottom: 15em;
  vertical-align: top;
}
#timeline .third:nth-of-type(1){
  margin-left: 2.5%;
}
#timeline .third:nth-of-type(5){
  margin-right: 2.5%;
}
.third h1{
  font-size: 16pt;
}
.third .event {
  width: 15%;
  padding: 2%;
}
#timeline .overlaythird:nth-of-type(1) .event{
  right: 84.33333333%;
}
#timeline .overlaythird:nth-of-type(1) .event:nth-of-type(2n){
  right: 67.33333333%;
}
#timeline .overlaythird:nth-of-type(2) .event{
  right: 51%;
}
#timeline .overlaythird:nth-of-type(2) .event:nth-of-type(2n){
  right: 34%;
}
#timeline .overlaythird:nth-of-type(3) .event{
  right: 17.66666666%;
}
#timeline .overlaythird:nth-of-type(3) .event:nth-of-type(2n){
  right: .6666666%;
}
.third .event img{
  margin: 0em 0em 1.5em 0px;
  max-width: 4em;
  max-height: 5em;
  float: right;
}
.third .event a{
    margin: 0  25% 0 25%;
}
.third .event:hover{
  overflow-y: scroll;
}
.overlaythird{
  display: inline-block;
  width: 33.33333333333%;
}