#timeline .half{
  margin-left: 6%;
  width: 88%;
  display: inline-block;
  margin-bottom: 15em;
  vertical-align: top;
}
#timeline .half:nth-child(1){
  margin-right: 2%;
}
.half h1{
  font-size: 18pt;
}
.half .event {
  padding: 2%;
  padding-right: 5%;
  height: 26em;
}
.half .event .Text{
  min-height: 15em;
}
.half .event img{
  margin: 0em 0em 1.5em 0px;
  max-width: 6em;
  max-height: 8em;
  float: right;
}
.half .event:hover{
  overflow-y: scroll;
}
.half .event a{
  float: right;
  position: relative;
  text-align: center;
  margin-right: 1em;
  margin-top: 4em;
}
.overlayhalf{
  display: inline-block;
  width: 50%;
}