#timeline .whole{
  margin: 0px auto;
  width: 80em;
  overflow: hidden;
  height: auto;
  position: relative;
  padding: 0px;
  list-style-type: none;
  background: url(tLine.png);
  background-size: 2em;
  background-repeat: repeat-y;
  background-position: 50% 0;
  margin-bottom: 15em;
}
.whole .event {
  position: relative;
  text-align: left;
  float: left;
  clear: left;
  width: 43%;
  margin: 10% 0em 1.25% 0em;
  border-radius: 5px;
  display: block;
  padding: .5%;
  background-color: rgba(0,0,0,.3);
  z-index: 15;
  border: 1px solid blue;
  text-decoration: none;
  height: 24.5em;
  overflow: hidden;
  -webkit-transition: background .15s linear;
  -moz-transition: background .15s linear;
  -ms-transition: background .15s linear;
  -o-transition: background .15s linear;
  transition: background .15s linear;
}
.whole .event:nth-of-type(2n) {
  float: right;
  clear: right;
}
.whole .offset-first{
  margin-top: 2em;
}
.whole .event .Text{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  float: left;
  width: 65%;
  min-height: 15em;
}
.whole .event img{
  margin: 0px 3em 3em 0px;
  max-width: 10em;
  max-height: 10em;
  float: right;
}
.whole .event:hover{
  min-height: 24.5em;
  background-color: rgba(255,0,0,.2);
  height: auto;
}
.whole .event a{
  float: right;
  position: relative;
  text-align: center;
  margin-right: 5em;
}
